.apod-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: var(--card-bg);
  color: var(--text-color);
}

.apod-card img.apod-image {
  width: 100%;
  height: 250px;        /* FIXED HEIGHT for all images */
  object-fit: cover;     /* Ensures perfect crop without stretch */
  border-radius: 8px;
  display: block;
  background: #e9e9e9;
}

.apod-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.apod-explanation {
  text-align: justify;
}

.apod-date, .apod-copyright {
  font-size: 0.85rem;
  color: #666;
  text-align: justify;
}
.apod-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}