.skeleton {
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-bottom: 10px;
}

.image-skeleton {
    width: 100%;
    height: 300px;
}

.text-skeleton {
    height: 20px;
    width: 80%;
}
.text-skeleton.short {
    width: 40%;
}